<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="author" content="Peter Wang, Alice Bu">
    <meta name="keywords" content="Web, HTML, CSS, JS, AJAX">
    <meta name="description" content="A personal blog.">
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <link href="/favicon.ico" rel="shortcut icon" >
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsiveslides.css">
    <script src="/lib/jquery-1.10.2.min.js"></script>
    <script src="/lib/responsiveslides.min.js"></script>
</head>
<body>
    {{> header}}

    {{{body}}}

    {{> footer}}
</body>
</html>
