{{!< default}}

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="8u">
                        <!-- Article list -->
                            <section class="box article-list">
                                <h2 class="icon fa-file-text-o">博文列表</h2>
                                
                                <!-- Excerpt -->
                                    <article class="box excerpt">
                                        <a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a>
                                        <div>
                                            <header>
                                                <span class="date">2015-12-15</span>
                                                <h3><a href="#">博文1</a></h3>
                                            </header>
                                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus 
                                            semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis, 
                                            feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
                                        </div>
                                    </article>

                                <!-- Excerpt -->
                                    <article class="box excerpt">
                                        <a href="#" class="image left"><img src="images/pic05.jpg" alt="" /></a>
                                        <div>
                                            <header>
                                                <span class="date">2015-12-15</span>
                                                <h3><a href="#">博文2</a></h3>
                                            </header>
                                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus 
                                            semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis, 
                                            feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
                                        </div>
                                    </article>

                                <!-- Excerpt -->
                                    <article class="box excerpt">
                                        <a href="#" class="image left"><img src="images/pic06.jpg" alt="" /></a>
                                        <div>
                                            <header>
                                                <span class="date">2015-12-15</span>
                                                <h3><a href="#">博文3</a></h3>
                                            </header>
                                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus 
                                            semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis, 
                                            feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
                                        </div>
                                    </article>

                            </section>
                    </div>
                    <div class="4u">
                        <div id="sidebar">

                            <!-- Sidebar -->

                                <section>
                                    <header class="major">
                                        <h2>博文分类</h2>
                                    </header>
                                    <ul class="style2">
                                        <li><a href="#">全部博文</a></li>
                                        <li><a href="#">博文分类1</a></li>
                                        <li><a href="#">博文分类2</a></li>
                                        <li><a href="#">博文分类3</a></li>
                                        <li><a href="#">博文分类4</a></li>
                                        <li><a href="#">博文分类5</a></li>
                                        <li><a href="#">博文分类6</a></li>
                                        <li><a href="#">博文分类7</a></li>
                                        <li><a href="#">博文分类8</a></li>
                                    </ul>
                                </section>

                                <section>
                                    <header class="major">
                                        <h2>博文精粹</h2>
                                    </header>
                                    <ul class="style2">
                                        <li><a href="#">博文系列1</a></li>
                                        <li><a href="#">博文系列2</a></li>
                                        <li><a href="#">博文系列3</a></li>
                                    </ul>
                                </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
