<!--菜单-->
<div class="layout-left-menu">
    <ul id="menu">
        <li class="childUlLi">
           <a href="#home"><i class="glyph-icon icon-home"></i>首页</a>
            <ul>
                <li><a href="#"><i class="glyph-icon icon-chevron-right"></i>用户添加</a></li>
            </ul>
        </li>
        <li class="childUlLi">
            <a href="#news"> <i class="glyph-icon  icon-location-arrow"></i>企业信息</a>
            <ul>
                <li><a href="#news-note"><i class="glyph-icon icon-chevron-right"></i>企业介绍</a></li>
                <li><a href="#news-list"><i class="glyph-icon icon-chevron-right"></i>企业新闻</a></li>
            </ul>
        </li>
        <li class="childUlLi">
            <a href="#users"> <i class="glyph-icon  icon-location-arrow"></i>用户管理</a>
            <ul>
                <li><a href="#users-edit"><i class="glyph-icon icon-chevron-right"></i>用户编辑</a></li>
                <li><a href="#users-list"><i class="glyph-icon icon-chevron-right"></i>用户列表</a></li>
            </ul>
        </li>
        <li class="childUlLi">
            <a href="#report"> <i class="glyph-icon  icon-location-arrow"></i>数据报表</a>
            <ul>
                <li><a href="#report-week"><i class="glyph-icon icon-chevron-right"></i>周报表</a></li>
                <li><a href="#report-month"><i class="glyph-icon icon-chevron-right"></i>月报表</a></li>
                <li><a href="#report-quator"><i class="glyph-icon icon-chevron-right"></i>季度报表</a></li>
                <li><a href="#report-year"><i class="glyph-icon icon-chevron-right"></i>年报表</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--菜单结束-->
