<ul class="cls-family-nav">
    {{cur_nav_item page "home"}}
        <a href="/home">首页</a>
    </li>
    {{cur_nav_item page "photo"}}
        <a href="/photo">照片</a>
    </li>
    {{cur_nav_item page "blog"}}
        <a href="/blog">日志</a>
    </li>
</ul>
