{{!< default}}

<article id="id-main">
    <div>
        <div>
            <div>
                <div class="cls-family-motto">
                    <h2>感悟</h2>
                    <div class="cls-family-content">
                        {{{motto_show motto}}}
                    </div>
                    <div class="cls-family-share">
                        分享到
                        <a href="#" target="_blank" class="twitter">Twitter</a>
                        <a href="#" target="_blank" class="facebook">Facebook</a>
                    </div>
                </div>
                <div class="cls-family-latest">
                    <h2>相册</h2>
                    <div>
                        <h3>最近更新</h3>
                        <ul>
                            {{#each albums}}
                            <li>
                                <a href="/photo/{{id}}"><img src="/image/{{id}}/{{cover}}" alt="Image"></a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
