<!-- Class Wrapper -->
<section>
    <header class="major">
        <h2>博文分类</h2>
    </header>
    <ul class="style2">
        <li><a href="#">博文分类1</a></li>
        <li><a href="#">博文分类2</a></li>
        <li><a href="#">博文分类3</a></li>
        <li><a href="#">博文分类4</a></li>
        <li><a href="#">博文分类5</a></li>
        <li><a href="#">博文分类6</a></li>
        <li><a href="#">博文分类7</a></li>
        <li><a href="#">博文分类8</a></li>
    </ul>
</section>
